<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>一覧画面</title>
</head>

<body>
  <h1>ユーザ一覧</h1>
  <div><a th:href="@{/new}">新規登録はこちら</a></div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>メール</th>
        <th colspan="2">編集</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.Id}"></td>
        <td th:text="${user.Name}"></td>
        <td th:text="${user.Email}"></td>
        <td>
          <form th:action="@{/edit}" method="get">
            <input type="submit" class="btn btn-outline-primary" name="edit" value="編集">
            <input type="hidden" name="Id" th:value="${user.Id}">
          </form>
        </td>
        <td>
          <form th:action="@{/delete}" method="get">
            <input type="submit" class="btn btn-outline-danger" name="delete" value="削除">
            <input type="hidden" name="Id" th:value="${user.Id}">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <input type="button" value="終了" onclick="window.open('about:blank', '_self').close()">
</body>

</html>